{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/css/home.css' %}"><!---->
</head>
<body>
    <div class="whole">
        <h1>Welcome to My website!!</h1>
        <div class="container">
            <a href="login-page"><div class="button">Teacher login</div></a>
            <a href="login-page"><div class="button">Student login</div></a>
        </div>
    </div>
    
</body>
</html>